.button {
  position: relative;
  overflow: hidden;
  z-index: 0;
  display: inline-block;
  background-color: var(--main-color);
  color: black;
  padding: 12px 64px;
  border: none;
  font-size: 12px;
  transition: color 0.3s ease;
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--black);
  z-index: -1;
  transition: width 0.5s ease;
}

.button:hover::before {
  width: 100%;
}

.button:hover {
  color: var(--main-color);
}
